<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceController</servlet-name>
        <servlet-class>controller.SearchInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoriesController</servlet-name>
        <servlet-class>controller.SearchCategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPriceController</servlet-name>
        <servlet-class>controller.SearchPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGlassesController</servlet-name>
        <servlet-class>controller.UpdateGlassesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductToCartController</servlet-name>
        <servlet-class>controller.addProductToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCartController</servlet-name>
        <servlet-class>controller.removeCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartController</servlet-name>
        <servlet-class>controller.updateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createInvoiceController</servlet-name>
        <servlet-class>controller.createInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteGlassesController</servlet-name>
        <servlet-class>controller.deleteGlassesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createGlassesController</servlet-name>
        <servlet-class>controller.createGlassesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>controller.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountController</servlet-name>
        <servlet-class>controller.deleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccountController</servlet-name>
        <servlet-class>controller.updateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFullNameController</servlet-name>
        <servlet-class>controller.searchFullNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByUserIdController</servlet-name>
        <servlet-class>controller.searchByUserIdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceController</servlet-name>
        <url-pattern>/SearchInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoriesController</servlet-name>
        <url-pattern>/SearchCategoriesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPriceController</servlet-name>
        <url-pattern>/SearchPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGlassesController</servlet-name>
        <url-pattern>/UpdateGlassesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductToCartController</servlet-name>
        <url-pattern>/addProductToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCartController</servlet-name>
        <url-pattern>/removeCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartController</servlet-name>
        <url-pattern>/updateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createInvoiceController</servlet-name>
        <url-pattern>/createInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteGlassesController</servlet-name>
        <url-pattern>/deleteGlassesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createGlassesController</servlet-name>
        <url-pattern>/createGlassesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountController</servlet-name>
        <url-pattern>/deleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccountController</servlet-name>
        <url-pattern>/updateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFullNameController</servlet-name>
        <url-pattern>/searchFullNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByUserIdController</servlet-name>
        <url-pattern>/searchByUserIdController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
